## Built-In-Functions

In [ ]:
# Example 1 --- sorted()
## sorted() will sort a sequence like list, tuple in ascending order but the original sequence remains unchanged

list1=[5,1,3,10,4]
print(sorted(list1))

print(list1)
tuple1=(55,11,33,100,44)
print(sorted(tuple1))
print(tuple1)

[1, 3, 4, 5, 10]
[5, 1, 3, 10, 4]
[11, 33, 44, 55, 100]
(55, 11, 33, 100, 44)

In [ ]:
# Example 2 --- abs()
# If we apply abs() on any variable, it gives the absolute value or modulus of that variable.
x=-10.5+5
print(abs(x))

5.5

In [ ]:
# Example 3 --- bin()
# bin() is used to convert decimal values to binary values
var1=20
print(bin(var1))

0b10100

In [ ]:
# Example 4 --- ord()  vs chr()
# ord() is used to convert character to ASCII value and chr() does the opposite
x=65
print(chr(x))
y='a'
print(ord(y))

A
97

In [ ]:
# Exaple 5 --- sum()
# It sums up all the items in an iterable. But all the values have to be of same data type
list2=[1,2,3,4,5,6,7]
print(sum(list2))

28

In [ ]:
# Example 6 --- reversed()
## reversed() will reverse a sequence like list, tuple, but the original sequence remains unchanged

list1=[5,1,3,10,4]
print(reversed(list1))
for i in reversed(list1):
    print(i)
print(list1)
tuple1=(55,11,33,100,44)
print(reversed(tuple1))
for i in reversed(tuple1):
    print(i)
print(tuple1)

<list_reverseiterator object at 0x7f1e24c9e6d8>
4
10
3
1
5
[5, 1, 3, 10, 4]
<reversed object at 0x7f1e24c9e6d8>
44
100
33
11
55
(55, 11, 33, 100, 44)

In [ ]:
# Example 7 --- all()
# If all the elements of a sequence are true, then it returns true.
#  Q> What is True In Python?
# Ans:- Any non-zero, non-empty value in python is true. e.g. None is not true. 

list1=[True,10,0]
print(all(list1))  # It will return false because 0 is not True
list2=[True,10,1,0.5,None]
print(all(list2))   # It will also return false as None is not True
list3=[True,10,1,0.5,'None']
print(all(list3))  # It will return True because all elements are True. Please note here 'None' is a String

False
False
True

In [ ]:
# Example 8 --- any()
# If any of the element of a sequence is True, it will return True
list4=[10,0,None,False]  # Here, one element is True
print(any(list4))
list5=[0,0,None,False]
print(any(list5))   # Here, all the elements are False

True
False

In [ ]:
# Example 9 ---- globals()
# It gives a dictionary which contains all global variables at that point of time
for i in globals():
    print(i)

__name__
__doc__
__package__
__loader__
__spec__
__builtin__
__builtins__
_ih
_oh
_dh
_sh
In
Out
get_ipython
exit
quit
_
__
___
_i
_ii
_iii
_i1
list1
tuple1
_i2
x
_i3
var1
_i4
y
_i5
list2
_i6
i
_i7
list3
_i8
list4
list5
_i9

In [ ]:
# Example 10 ---- enumerate()
# Return an enumerate object. The Iterable must be a sequence, an iterator, or some other object which supports iteration
# Enumerate returns the list of tuples. Tuples consists index values and items from the list

animals = ['tiger', 'lion', 'deer']
enumerateAnimals = enumerate(animals)
print(type(enumerateAnimals))
# converting to list
print(list(enumerateAnimals))
# changing the default counter
enumerateAnimals = enumerate(animals, 10)
print(list(enumerateAnimals))

<class 'enumerate'>
[(0, 'tiger'), (1, 'lion'), (2, 'deer')]
[(10, 'tiger'), (11, 'lion'), (12, 'deer')]

In [ ]:
for i, val in enumerate(animals,1):
  print (i, val)

1 tiger
2 lion
3 deer