___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn
np.random.seed(101)

In [4]:
randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [66]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [81]:
new_row = [1,2,3,4]
new_s = pd.Series(new_row, index=df.columns, name='F')
pd.concat([df,new_s], axis=0)

          W         X         Y         Z    0
A -1.398290 -0.219311 -0.045676  0.012421  NaN
B  0.093628  1.240813 -1.097693 -1.908009  NaN
C -0.380104 -1.666059 -2.736995  1.522562  NaN
D  0.178009 -0.626805 -0.391089  1.743477  NaN
E  1.130018  0.897796  0.330866 -1.063049  NaN
W       NaN       NaN       NaN       NaN  1.0
X       NaN       NaN       NaN       NaN  2.0
Y       NaN       NaN       NaN       NaN  3.0
Z       NaN       NaN       NaN       NaN  4.0

In [65]:
help(df.append)

Help on method append in module pandas.core.frame:

append(other, ignore_index: 'bool' = False, verify_integrity: 'bool' = False, sort: 'bool' = False) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Append rows of `other` to the end of caller, returning a new object.

    .. deprecated:: 1.4.0
        Use :func:`concat` instead. For further details see
        :ref:`whatsnew_140.deprecations.frame_series_append`

    Columns in `other` that are not in the caller are added as new columns.

    Parameters
    ----------
    other : DataFrame or Series/dict-like object, or list of these
        The data to append.
    ignore_index : bool, default False
        If True, the resulting axis will be labeled 0, 1, â€¦, n - 1.
    verify_integrity : bool, default False
        If True, raise ValueError on creating index with duplicates.
    sort : bool, default False
        Sort columns if the columns of `self` and `other` are not aligned.

        .. versionchanged:: 1.0.0

            Changed to not sort by default.

    Returns
    -------
    DataFrame
        A new DataFrame consisting of the rows of caller and the rows of `other`.

    See Also
    --------
    concat : General function to concatenate DataFrame or Series objects.

    Notes
    -----
    If a list of dict/series is passed and the keys are all contained in
    the DataFrame's index, the order of the columns in the resulting
    DataFrame will be unchanged.

    Iteratively appending rows to a DataFrame can be more computationally
    intensive than a single concatenate. A better solution is to append
    those rows to a list and then concatenate the list with the original
    DataFrame all at once.

    Examples
    --------
    >>> df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'), index=['x', 'y'])
    >>> df
       A  B
    x  1  2
    y  3  4
    >>> df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'), index=['x', 'y'])
    >>> df.append(df2)
       A  B
    x  1  2
    y  3  4
    x  5  6
    y  7  8

    With `ignore_index` set to True:

    >>> df.append(df2, ignore_index=True)
       A  B
    0  1  2
    1  3  4
    2  5  6
    3  7  8

    The following, while not recommended methods for generating DataFrames,
    show two ways to generate a DataFrame from multiple data sources.

    Less efficient:

    >>> df = pd.DataFrame(columns=['A'])
    >>> for i in range(5):
    ...     df = df.append({'A': i}, ignore_index=True)
    >>> df
       A
    0  0
    1  1
    2  2
    3  3
    4  4

    More efficient:

    >>> pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)],
    ...           ignore_index=True)
       A
    0  0
    1  1
    2  2
    3  3
    4  4

In [13]:
'A, B C D E'.split(",")

['A', ' B C D E']

In [9]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [18]:
df[ 'W' ]

A   -1.467514
B    0.392489
C    0.666319
D    0.641806
E   -1.972605
Name: W, dtype: float64

In [188]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [19]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A   -1.467514
B    0.392489
C    0.666319
D    0.641806
E   -1.972605
Name: W, dtype: float64

DataFrame Columns are just Series

In [190]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [23]:
df['new'] = df['W'] + df['Y']

In [192]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

** Removing Columns**

In [29]:
df.drop('new',axis=1,inplace=True)
#help(df.drop)

In [30]:
# Not inplace unless specified!
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [195]:
df.drop('new',axis=1,inplace=True)

In [196]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [197]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows**

In [47]:
df.loc[:, ['W'] ]

          W
A -1.467514
B  0.392489
C  0.666319
D  0.641806
E -1.972605

Or select based off of position instead of label

In [39]:
df.iloc[i]

W   -1.972605
X   -0.866885
Y    0.720788
Z   -1.223082
Name: E, dtype: float64

** Selecting subset of rows and columns **

In [35]:
df.loc['B','Y']

-0.8551960407780934

In [36]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -1.467514 -0.162535
B  0.392489 -0.855196

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [49]:
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [ ]:
df[df>0]

          W         X         Y         Z
A       NaN       NaN       NaN  0.485809
B  0.392489  0.221491       NaN  1.541990
C  0.666319       NaN       NaN  1.407338
D  0.641806       NaN       NaN  1.028293
E       NaN       NaN  0.720788       NaN

In [204]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [52]:
df[df['W']>0]

          W         X         Y         Z
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293

In [54]:
df[df['W']>0]['Y']

B   -0.855196
C   -0.568581
D   -0.391157
Name: Y, dtype: float64

In [207]:
df1 = df[df['W']>0]
df1[['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

For two conditions you can use | and & with parenthesis:

In [56]:
df[(df['W']>0) | (df['Y'] > 1)]

          W         X         Y         Z
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [209]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [57]:
# Reset to default 0,1...n index
df.reset_index(drop=True)

          W         X         Y         Z
0 -1.467514 -0.494095 -0.162535  0.485809
1  0.392489  0.221491 -0.855196  1.541990
2  0.666319 -0.538235 -0.568581  1.407338
3  0.641806 -0.905100 -0.391157  1.028293
4 -1.972605 -0.866885  0.720788 -1.223082

In [211]:
newind = 'CA NY WY OR CO'.split()

In [212]:
df['States'] = newind

In [213]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [214]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [215]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [216]:
df.set_index('States',inplace=True)

In [218]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [90]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [91]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [92]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.547260  0.496727
   2 -1.235614 -0.798428
   3  0.754121 -0.772041
G2 1 -0.034432  0.688408
   2  0.081523 -0.415191
   3  0.053661 -2.115113

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [93]:
df.loc['G1']

          A         B
1 -0.547260  0.496727
2 -1.235614 -0.798428
3  0.754121 -0.772041

In [94]:
df.loc['G1'].loc[1]

A   -0.547260
B    0.496727
Name: 1, dtype: float64

In [95]:
df.index.names

FrozenList([None, None])

In [96]:
df.index.names = ['Group','Num']

In [97]:
df

                  A         B
Group Num
G1    1   -0.547260  0.496727
      2   -1.235614 -0.798428
      3    0.754121 -0.772041
G2    1   -0.034432  0.688408
      2    0.081523 -0.415191
      3    0.053661 -2.115113

In [98]:
df.xs('G1')

            A         B
Num
1   -0.547260  0.496727
2   -1.235614 -0.798428
3    0.754121 -0.772041

In [99]:
help(df.xs)

Help on method xs in module pandas.core.generic:

xs(key, axis=0, level=None, drop_level: 'bool_t' = True) method of pandas.core.frame.DataFrame instance
    Return cross-section from the Series/DataFrame.

    This method takes a `key` argument to select data at a particular
    level of a MultiIndex.

    Parameters
    ----------
    key : label or tuple of label
        Label contained in the index, or partially in a MultiIndex.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to retrieve cross-section on.
    level : object, defaults to first n levels (n=1 or len(key))
        In case of a key partially contained in a MultiIndex, indicate
        which levels are used. Levels can be referred by label or position.
    drop_level : bool, default True
        If False, returns object with same levels as self.

    Returns
    -------
    Series or DataFrame
        Cross-section from the original Series or DataFrame
        corresponding to the selected index levels.

    See Also
    --------
    DataFrame.loc : Access a group of rows and columns
        by label(s) or a boolean array.
    DataFrame.iloc : Purely integer-location based indexing
        for selection by position.

    Notes
    -----
    `xs` can not be used to set values.

    MultiIndex Slicers is a generic way to get/set values on
    any level or levels.
    It is a superset of `xs` functionality, see
    :ref:`MultiIndex Slicers <advanced.mi_slicers>`.

    Examples
    --------
    >>> d = {'num_legs': [4, 4, 2, 2],
    ...      'num_wings': [0, 0, 2, 2],
    ...      'class': ['mammal', 'mammal', 'mammal', 'bird'],
    ...      'animal': ['cat', 'dog', 'bat', 'penguin'],
    ...      'locomotion': ['walks', 'walks', 'flies', 'walks']}
    >>> df = pd.DataFrame(data=d)
    >>> df = df.set_index(['class', 'animal', 'locomotion'])
    >>> df
                               num_legs  num_wings
    class  animal  locomotion
    mammal cat     walks              4          0
           dog     walks              4          0
           bat     flies              2          2
    bird   penguin walks              2          2

    Get values at specified index

    >>> df.xs('mammal')
                       num_legs  num_wings
    animal locomotion
    cat    walks              4          0
    dog    walks              4          0
    bat    flies              2          2

    Get values at several indexes

    >>> df.xs(('mammal', 'dog'))
                num_legs  num_wings
    locomotion
    walks              4          0

    Get values at specified index and level

    >>> df.xs('cat', level=1)
                       num_legs  num_wings
    class  locomotion
    mammal walks              4          0

    Get values at several indexes and levels

    >>> df.xs(('bird', 'walks'),
    ...       level=[0, 'locomotion'])
             num_legs  num_wings
    animal
    penguin         2          2

    Get values at specified column and axis

    >>> df.xs('num_wings', axis=1)
    class   animal   locomotion
    mammal  cat      walks         0
            dog      walks         0
            bat      flies         2
    bird    penguin  walks         2
    Name: num_wings, dtype: int64

In [101]:
df

                  A         B
Group Num
G1    1   -0.547260  0.496727
      2   -1.235614 -0.798428
      3    0.754121 -0.772041
G2    1   -0.034432  0.688408
      2    0.081523 -0.415191
      3    0.053661 -2.115113

In [102]:
df.xs(2,level='Num')

              A         B
Group
G1    -1.235614 -0.798428
G2     0.081523 -0.415191

In [22]:
import pandas as pd

url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
c=pd.read_csv(url)
print(c)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

# Great Job!